.p.one{
  overflow:hidden;
} 
body{
  text-align: right;
  font: Georgia;
  font-size: 30px;
  color: #ffffff;
  
}

html{
  background-image: url(flowers.jpg);
  height: 100%;
  width: 100%;
  color:white;
}


img.{
	width: 25px;
	height: 25px;
	float: left;
  border-style: 

}



